!!!
%html{lang: "ja"}
  
%head
  %meta{charset: "utf-8"}
%body

.chat--side
  .side--header
    .side--header__box
    .side--header__box__username
    akkun
    .side--header__box__menu
    .side-header__box__menu__new-group
    %a{:href => "/users/edit"}
    %i.fa.fa-edit
    %side-header__box__menu__edit-user
    %a{:href => "/users/edit"}
    %i.fa.fa-cog

  .groups
    .groups__name
      博多部
    .groups__title
      まだメッセージがありません

.chat--main
  .main--header
    .main--header__box__current--group
      博多部
    .main--header__box__edit--btn
      Edit
    .main--header__box__current--user
      Member : akkun
    
  .main--space
    .main--space__box1
      .main--space__box1__user
        akkun
      .main--space__box1__time
        2019/07/14(Sat) 23:59:59
      .main--space__box1__message
        おつかれさま！
    .main--space__box2  
      .main--space__box2__user
        test-user
      .main--space__box2__time
        2019/07/15(Sat) 23:59:59
      .main--space__box2__message
        おいさっ！
  
  .input--erea
    .input--erea__box
      .input--erea__box__comment
        type a message
      .input--erea__box__imgbtn
        %i.fa.fa-image
    .input--erea__send
      Send

      //すいません