a:visited {
  color: $inherit-color;
  }

.chat--side {
  width: 300px;
  float: left;
  font-weight: bold;
  color: $side-color;
}

.side--header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  &__box{
    &__username{
    float: left;
    }
    &__menu{
    float:right;
    margin: 0 0 0 150px;
    color: $side-color;
    }
  }
}

.group {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  &__name{
    font-size: 15px;
    padding: 0 0 5px;
  }
  &__title{
    font-size: 11px;
    padding: 0 0 40px;
  }
}

.chat--main {
  float: right;
  width: calc(100vw - 300px);
}

.main--header {
  border: #eeeeee;
  height: 100px;
  padding: 0 40px 0 40px;
  display: flex;
  border-bottom: solid 1px #eee;
  font-size: 20px;
  &__box__current--group{
    position: absolute;
    top: 35px;
  }
  &__box__edit--btn{
    margin: 28px 0 32px auto;
    height: 40px;
    padding: 5px 20px 0 20px;
    border: solid 1px blue;
    color: blue;
    float: right;
  }
  &__box__current--user{
    font-size: 12px;
    position: absolute;
    top: calc(35px + 20px + 15px);
  }
}

.main--space {
  height: calc(100vh - 263px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  &__box1{
    &__user{
      font-size: 16px;
      font-weight: bold;
      margin: 0 10px 10px 0;
      float: left;
    }
    &__time{
      font-size: 12px;
      color: #999999;
    }
    &__message{
      position: absolute;
      margin: 10px 0 0 0;
      font-size: 14px;
      color: $thin-color;
    }
  }
  &__box2{
    position: relative;
    clear: left;
    margin: 64px 0 0 0;
    &__user{
      font-size: 16px;
      font-weight: bold;
      margin: 0 10px 10px 0;
      float: left;
    }
    &__time{
      font-size: 12px;
      color: #999999;
     }
    &__message{
      position: absolute;
      margin: 10px 0 0 0;
      font-size: 14px;
      color: $thin-color;
    }
  }
}

.input--erea{
  background: #ddd;
  height: 90px;
  &__box {
    width: 85%;
    padding: 17px 10px 17px 40px;
    color: $thin-color;
    float: left;
    &__comment{
      height: 50px;
      width: 90%;
      float:left;
      padding: 0 40px 0 10px;
      font-size: 16px;
      border: none;
    }
    &__imgbtn{
      height: 50px;
      width: 10%;
      margin: 0 0 0 auto;
      padding: 0 0 0 10px;
      font-size: 30px;
      background-color: #FFFFFF;
    }
  }
  &__send{
    height: 50px;
    width: 8%;
    float: right;
    background: #38AEF0;
    color: $side-color;
    font-size: 23px;
    margin: 17px 40px 17px auto;
  }
}